<ng-progress #progressBar></ng-progress>
<app-panel>
    <div>
        <!--  <button (click)="BulknotesSteps()" class="btn btn-primary">-->
        <!--    SHOW ME STEPS-->
        <!--  </button>-->
        <div class="alert alert-danger m-b-0">
            <h3><i class="fa fa-info-circle"></i> Polite Notice</h3>
            <ol>
                <li>
                    Kindly <b>Download</b> and <b>Use</b> the provided Template
                    to Upload.
                </li>
                <li>Maximum allowed size to upload is <b>9MB.</b></li>
                <li>
                    The template has <b>2(two)</b> columns <b>accnumber</b> and
                    <b>notemade</b>. Kindly <b>Do not</b> add any unnecessary
                    column to the template otherwise your upload will
                    <b>Fail.</b>
                </li>
            </ol>
            <!--      <p>Kindly Download and Use the provided Template to Upload</p>-->
        </div>
        <div>
            <button
                (click)="downloadFile()"
                class="btn btn-outline-success btn-sm"
                id="template"
            >
                <i class="fa fa-download"> template</i>
            </button>
        </div>
        <!--<div id="accordion">
      <div class="card">
        <div class="card-body">

          <hr />

          Select xlsx file to upload

          <input #myInput (change)="onFileChange($event)" accept=".xlsx" id="input" name="myInput"
            placeholder="File Name" type="file" />

          <div id="output"></div>
          <br />
          <div *ngIf="willDownload">
            <a id="download"> Download JSON File </a>
          </div>
          <div *ngIf="fileUploadProgress">
            Upload progress: {{ fileUploadProgress }}%
          </div>

          <div *ngIf="fileUploadProgress > 0" class="progress form-group">
            <div [style.width.%]="fileUploadProgress"
              class="progress-bar bg-purple progress-bar-striped progress-bar-animated" role="progressbar"></div>
          </div>
        </div>
      </div>
    </div>-->
    </div>
    <!-- Upload  -->
    <form id="file-upload-form" class="uploader">
        <input
            id="file-upload"
            type="file"
            name="fileUpload"
            accept=".xlsx,.xls"
            (change)="onFileChange($event)"
        />

        <label for="file-upload" id="file-drag">
            <img id="file-image" src="#" alt="Preview" class="hidden" />
            <div id="start">
                <i class="fa fa-download" aria-hidden="true"></i>
                <div>Select excel file or drag here</div>
                <div id="notimage" class="hidden">Please select excel file</div>
                <span id="file-upload-btn" class="btn btn-primary"
                    >Select a file</span
                >
            </div>
            <div id="response" class="hidden">
                <div id="messages"></div>
                <progress class="progress" id="file-progress" value="0">
                    <span>0</span>%
                </progress>
            </div>
        </label>
    </form>
    <br />
    <div id="output"></div>
</app-panel>
